html{
    scroll-behavior:smooth;
}

nav{
    background:#023e8a;
    text-align:center;
    padding:15px;
    position:sticky;
    top:0;
}

nav a{
    color:white;
    text-decoration:none;
    margin:20px;
    font-weight:bold;
    font-size:18px;
}

nav a:hover{
    color:#90e0ef;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f6f9;
    color:#333;
    line-height:1.6;
}

header{
    background:#0077b6;
    color:white;
    text-align:center;
    padding:40px 20px;
}

header h1{
    font-size:40px;
}

header p{
    font-size:18px;
    margin-top:10px;
}

section{
    width:80%;
    margin:30px auto;
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

h2{
    color:#0077b6;
    margin-bottom:15px;
}

ul{
    margin-left:20px;
}

.project{
    background:#eef7ff;
    padding:15px;
    border-left:5px solid #0077b6;
    margin-top:15px;
    border-radius:6px;
}

footer{
    text-align:center;
    background:#0077b6;
    color:white;
    padding:15px;
    margin-top:30px;
}
.btn{
    display:inline-block;
    margin-top:15px;
    background:#0077b6;
    color:white;
    padding:12px 25px;
    text-decoration:none;
    border-radius:8px;
    font-weight:bold;
    transition:0.3s;
}

.btn:hover{
    background:#023e8a;
    transform:scale(1.05);
}